---
layout: problem
problem_page?: true
problem_id: 1
---

h3 要件

.well
  ul
    li 1から100まで、1行に1つずつ数字を表示する
    li ただし、以下の場合は、数字の代わりに指定した文字列を表示する
    ul
      li 3で割り切れる場合は、代わりに「Fizz」と表示
      li 5で割り切れる場合は、代わりに「Buzz」と表示
      li 15で割り切れる場合は、代わりに「FizzBuzz」と表示

h3 出力例

pre.well
  | 1
    2
    Fizz
    4
    Buzz
    ...
    14
    FizzBuzz
    16
    ...
    98
    Fizz
    Buzz