---
layout: problem
problem_id: 3
---

h3 要件

.well
  ul
    li ユーザに、「手」を数字(1:グー、2:チョキ、3:パー)で入力させる
    li ランダムに、CPUの「手」を決める
    li 結果を表示
    li あいこだったら、勝敗がつくまで繰り返す

h3 出力例

pre.well
  | $ ruby problem3.rb
    じゃんけんー(1:グー、2:チョキ、3:パー): 1
    あなた: グー
    あいて: グー
    結果: あいこ

    あいこでー(1:グー、2:チョキ、3:パー): 2
    あなた: チョキ
    あいて: パー
    結果: 勝ち

    $ ruby problem3.rb
    じゃんけんー(1:グー、2:チョキ、3:パー): 1
    あなた: グー
    あいて: パー
    結果: 負け

h3 工夫してみよう

.well
  ul
    li 勝敗がついても終了せずに、次のじゃんけんが始まるようにする
    li 勝敗数をカウントし、勝敗がつくたびに表示する

pre.well
  | $ ruby problem3.rb
    じゃんけんー(1:グー、2:チョキ、3:パー): 1
    あなた: チョキ
    あいて: パー
    結果: 勝ち（1勝0敗）

    じゃんけんー(1:グー、2:チョキ、3:パー): 1
    あなた: グー
    あいて: パー
    結果: 負け（1勝1敗）
